{% extends "base.html.twig" %}
{% block nav %}
    <ul class="nav">
    {% for item in nav %}
        {% if item.title == active %}
        <li class="active"><a href="{{ item.link }}">{{ item.title }}</a></li>
        {% else %}
        <li><a href="{{ item.link }}">{{ item.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span4">
        Column 1
    </div>
    <div class="span4">
        Column 2
    </div>
    <div class="span4">
        Column 3
    </div>
</div>
{% endblock %}

{% block blogroll %}
    <ul class="unstyled">
        {% for post in previousPosts %}
            <li><a href="/blog/view/{{ post.post_name }}">{{ post.post_title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
